<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ static_url('js/miner.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('css/loading.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/styles.css') }}">
</head>
<body>
<div class="mine-container">
    <form action="login" method="POST">
        <p><input type="text" name="login" placeholder="Login"></p>
        <p><input type="password" name="password"></p>
        <button class="btn btn-success btn-lg btn-mine">Log in</button>
    </form>
</div>
</body>
</html>