body {
    background-color: rgba(225, 225, 225, 0.38);
    font-size: 30px;
    text-align: center;
}

a {
    text-underline: none;
    text-decoration: none;
}

.flag_button {
    font-size: 2rem;
    margin: 50px auto;
}

.redirect {
    width: 80%;
    margin: 50px auto;
}