<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quirky Casino</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="row" id="account">
                        Account
                    </div>
                    <div class="row" id="gameSummaries">
                        Games
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="mainSection">
                Main
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
