body {
    background-color: #e1e1e1;
    font-size: 30px;
    text-align: center;
}

a {
    text-underline: none;
    text-decoration: none;
}

.flag_button {
    width: 200px;
    height: 50px;
    margin: 50px auto;
    padding: 10px;
    background-color: #cd0f0f;
    color: #000;
}

.flag_button:hover {
    background-color: #ef0f0f;
}

.redirect {
    width: 80%;
    margin: 50px auto;
}